@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
  background: #ecf2f8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  color: #48556a;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  width: 80%;
  min-width: 20.5rem;
  max-width: 45.6875rem;
  margin: 1.25rem;
  display: flex;
  height: calc(100% - 48vw);
  min-height: 17.5625rem;
  max-height: 31.875rem;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row;
  border-radius: 0.5rem;
  overflow: hidden;
}
.card_img {
  flex: 1 1 40%;
  height: 100%;
  background: url(/images/drawers.jpg) top left/cover;
}
.card_infos {
  flex: 1 1 60%;
  height: 100%;
  background: #fff;
  padding: 2.0625rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
.card_infos > * {
  width: 100%;
  height: auto;
}
.card_infos .title {
  font-size: 1.3em;
  margin-bottom: 1.25rem;
}
.card_infos .description {
  font-size: 0.8125rem;
  padding: 0 0.125rem;
  margin-bottom: 1.25rem;
}
.card_infos .footer {
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-right: 0.625rem;
}
.card_infos .footer .author {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
}
.card_infos .footer .author_img {
  width: 2.5625rem;
  height: 2.5625rem;
  border-radius: 50%;
  background: url(/images/avatar-michelle.jpg) center center/cover;
  margin-right: 1rem;
}
.card_infos .footer .author_name {
  font-size: 0.875rem;
  font-weight: 700;
}
.card_infos .footer .author .date {
  font-size: 0.8125rem;
}
.card_infos .footer i {
  display: inline;
  background: #ecf2f8;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  color: #48556a;
  transition: background 0.3s, color 0.3s;
  position: relative;
  z-index: 5;
}
.card_infos .footer i:hover {
  background: #48556a;
  color: #ecf2f8;
}
.card .networks {
  background: #48556a;
  opacity: 0;
  width: 15.625rem;
  height: 3.5625rem;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  border-radius: 0.5rem;
  top: 51%;
  left: 65%;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-4px);
}
.card .networks span {
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.card .networks i {
  font-size: 1.3125rem;
}
.card .networks.visible {
  opacity: 1;
  transform: translateY(0px);
}
.card .networks::after {
  content: "";
  position: absolute;
  background: inherit;
  width: 1.25rem;
  height: 1.25rem;
  top: 100%;
  left: 44%;
  transform: rotate(45deg) translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
  .card {
    flex-direction: column;
  }
  .card > * {
    width: 100%;
  }
  .card .title {
    font-size: 1em;
  }
  .card .networks {
    width: 20.625rem;
    justify-content: start;
    padding: 0 2.1875rem;
    top: 69%;
    left: 6%;
    transform: translateY(0);
    opacity: 0;
  }
  .card .networks i {
    margin: 0.5rem;
  }
  .card .networks.visible {
    transform: translateY(4px);
    opacity: 1;
  }
  .card .networks::after {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
