@use './utils/index' as vars;

.card {
    width: 80%;
    min-width: vars.rem(328);
    max-width: vars.rem(731);
    margin: vars.rem(20);
    display: flex;
    height: calc(100% - 48vw);
    min-height: vars.rem(281);
    max-height: vars.rem(510);
    @include vars.flexer();
    // flex-wrap: wrap;
    border-radius: vars.rem(8);
    overflow: hidden;

    &_img {
        flex: 1 1 40%;
        height: 100%;
        background: url(/images/drawers.jpg) top left/cover;
    }

    &_infos {
        flex: 1 1 60%;
        height: 100%;
        background: #fff;
        padding: vars.rem(33);
        @include vars.flexer(start, start);
        flex-wrap: wrap;
        position: relative;

        & > * {
            width: 100%;
            height: auto;
        }

        .title {
            font-size: 1.3em;
            margin-bottom: vars.rem(20);
        }
        .description {
            font-size: vars.rem(13);
            padding: 0 vars.rem(2);
            margin-bottom: vars.rem(20);
        }

        .footer {
            // width: 100%;
            // height: 33%;
            align-self: end;
            // background: red;
            @include vars.flexer(center, space-between);
            padding-right: vars.rem(10);

            .author {
                // height: 100%;
                @include vars.flexer(center, start);
                // background: green;
                // width: 47%;

                &_img {
                    width: vars.rem(41);
                    height: vars.rem(41);
                    border-radius: 50%;
                    background: url(/images/avatar-michelle.jpg) center center/cover;
                    margin-right: vars.rem(16);
                }
                &_name {
                    font-size: vars.rem(14);
                    font-weight: 700;
                }
                .date {
                    font-size: vars.rem(13);
                }
            }

            i {
                display: inline;
                background: vars.$light-grayish-blue;
                border-radius: 50%;
                padding: vars.rem(8);
                cursor: pointer;
                color: vars.$very-dark-grayish-blue;
                transition: background 0.3s, color 0.3s;
                position: relative;
                z-index: 5;

                &:hover {
                    background: vars.$very-dark-grayish-blue;
                    color: vars.$light-grayish-blue;
                }
            }
        }
    }

    .networks {
        background: vars.$very-dark-grayish-blue;
        opacity: 0;
        width: vars.rem(250);
        height: vars.rem(57);
        position: fixed;
        @include vars.flexer(center, space-evenly);
        color: white;
        border-radius: vars.rem(8);
        top: 51%;
        left: 65%;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(-4px);

        span {
            font-weight: 300;
            letter-spacing: vars.rem(8);
            text-transform: uppercase;
            font-size: vars.rem(12);
        }

        i {
            font-size: vars.rem(21);
        }

        &.visible {
            opacity: 1;
            transform: translateY(0px);
        }

        &::after {
            content: '';
            position: absolute;
            background: inherit;
            width: vars.rem(20);
            height: vars.rem(20);
            top: 100%;
            left: 44%;
            transform: rotate(45deg) translate(-50%, -50%);
        }
    }
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;

        & > * {
            width: 100%;
        }

        .title {
            font-size: 1em;
        }
        .networks {
            width: vars.rem(330);
            // height: vars.rem(70);
            justify-content: start;
            padding: 0 vars.rem(35);
            top: 69%;
            left: 6%;
            transform: translateY(0);
            opacity: 0;

            i {
                margin: vars.rem(8);
            }

            &.visible {
                transform: translateY(4px);
                opacity: 1;
            }

            &::after {
                display: none;
            }
        }
    }
}
